name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: Python 3.9, python: '3.9', os: ubuntu}
          - {name: Python 3.10, python: '3.10', os: ubuntu}
          - {name: Python 3.11, python: '3.11', os: ubuntu}
          - {name: Python 3.12, python: '3.12', os: ubuntu}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox pytest pytest-cov
    - name: Tox
      run: |
        python3 -m tox -e py
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
  pre-commit:
    name: Pre-commit Hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "1.2.2"
      - name: pre-commit
        run: |
          python -m pip install --upgrade pip pre-commit
          pre-commit run --all-files
